.brand_left{
    position:fixed;width:200px;height:750px;left:0;bottom:10px;
}
.brand_right{
    position:fixed;width:200px;height:750px;right:0;bottom:10px;
}

@media screen and (min-width:1880px){
    .brand_left{
        top:270px;
    }
    .brand_right{
        top:270px;
    }
}
@media screen and (max-width:1880px){
    .brand_left{
        top:16%;
    }
    .brand_right{
        top:16%;
    }

}

@media screen and (max-width:1600px){
    .brand_left{
        top:15.2%;
    }
    .brand_right{
        top:15.2%;
    }

    .header-right .fb-like{
        padding:20px 0 15px 0 !important;
    }
}

@media screen and (max-width:1400px){
    .header-right .fb-like{
        padding:15px 0 15px 0 !important;
    }
}